.card-right .btn a {
    color: yellow; 
    text-decoration: none;
  }
  
  .card-right .btn a:hover {
    color: #0056b3; 
  }
  
  /* movieCardStyles.css */

.Card {
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
  }
  
  .card-left img {
    width: 230px;
    height: auto;
    object-fit: cover;
  }
  
  .card-right {
    padding: 20px;
  }
  
  .card-rating {
    font-size: 16px;
    color: #ff9900;
    margin-bottom: 10px;
  }
  
  .title h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-description p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .btn a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn a:hover {
    background-color: #0056b3;
  }
  